*, *::before, *::after {
  box-sizing: inherit
}

@font-face {
  font-family: 'Open Sans';  
  src: url(../fonts/opensanslight.woff) format('woff');
  src: url(../fonts/opensanslight.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';  
  src: url(../fonts/opensans.woff) format('woff');
  src: url(../fonts/opensans.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';  
  src: url(../fonts/gilroylight.woff) format('woff');
  src: url(../fonts/gilroylight.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';  
  src: url(../fonts/gilroyextrabold.woff) format('woff');
  src: url(../fonts/gilroyextrabold.woff2) format('woff2');
  font-weight: 800;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000;
  margin: 37px 0 20px;
  padding: 0;
  padding-left: 60px; 
  letter-spacing: 0.5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000;
  box-sizing: border-box;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.header {
  background-color: #f7e296;
  padding: 35px 60px 47px 60px;
  margin-top: 40px;
  position: relative;
}

.header--main {
  padding-bottom: 160px;
}

.header__logo {
  position: absolute;
  left: 60px;
  top: -17px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation__list--line-top {
  margin-bottom: 30px;
}

.navigation__search-form {
  position: relative;
}

.navigation__search-field,
.navigation__search-submit,
.navigation__link--small {
  color: #000;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.navigation__link--small {
  padding-left: 25px;
}

.navigation__link--big {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.navigation__link--big:hover {
  cursor: pointer;
}

.navigation__catalog .navigation__link {
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
}

.navigation__link:hover {
  opacity: .6;
}

.navigation__link:active {
  opacity: .3;
}

.navigation__item--search {
  margin-right: 105px;
}

.navigation__search-field {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, .3);
  outline: none;  
  border: 2px solid transparent;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: -6px;
  width: 440px;
  background-image: url(../img/svg/search.svg);
  background-repeat: no-repeat;
  background-position: 4px;
}

.navigation__search-field::placeholder {
  color: rgba(0, 0, 0, .3);
}

.navigation__search-field:hover,
.navigation__item--search:hover .navigation__search-field::placeholder {
  color: rgba(0, 0, 0, .6);
}

.navigation__search-submit {
  position: absolute;
  right: -6px;
  top: 0;
  background-color: transparent;
  border: 2px solid #000;
  padding: 5px 20px;
  outline: none;
  display: none;
}

.navigation__search-field:focus {
  border-bottom: 2px solid #000;
  color: #000;
}

.navigation__search-field:focus + .navigation__search-submit {
  display: inline-block;
}

.navigation__search-submit:hover {
  background-color: #000;
  color: #fff;
}

.navigation__search-submit:active {
  background-color: #000;
  color: rgba(255, 255, 255, .3);
  display: inline-block;
}

.navigation__search-submit:active .navigation__search-field {
  border-bottom: 2px solid #000;
}

.navigation__item--catalog {
  margin-right: auto;
}

.navigation__item--contacts {
  margin-left: 107px;
}

.navigation__item--warranty {
  margin-left: 35px;
}

.navigation__item--login .navigation__link {
  background-image: url(../img/svg/user.svg);
  background-repeat: no-repeat;
  background-position: 0px; 
}

.navigation__item--compare {
  margin-left: auto;
}

.navigation__item--compare .navigation__link {
  background-image: url(../img/svg/compare.svg);
  background-repeat: no-repeat;
  background-position: 5px 7px;  
}

.navigation__item--cart {
  margin-left: 40px;
}

.navigation__item--cart .navigation__link {
  background-image: url(../img/svg/cart.svg);
  background-repeat: no-repeat;
  background-position: 1px;
}

.navigation__item--login {
  position: relative;
}

.navigation__item--login .navigation__logout {
  color: rgba(0, 0, 0, .3);
  position: absolute;
  right: -62px;
  top: 0;
}

.navigation__item--catalog {
  position: relative; 
  background-image: url(../img/svg/plus.svg);
  background-repeat: no-repeat;
  background-position: 100%;
}

.navigation__link--catalog {
  padding-right: 30px;
}

.navigation__catalog {
  position: absolute;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0;
  list-style: none;
  padding: 25px 310px 27px 60px;
  left: -60px;
  background-color: #f7e296;
  color: #000;
  z-index: 2;
}

.navigation__catalog li {
  width: 220px;
}

.navigation__catalog li:nth-child(5) {
  width: 440px;
}

.navigation__item--catalog:hover .navigation__catalog {
  display: flex;
}

.slider {
  margin-top: -110px;
  z-index: 1;
  position: relative;
  padding-bottom: 83px;
}

.slider__item {
  flex-direction: row;
  display: none;
  position: relative;
}

.slider__item--active {
  display: flex;
}

.slider__number {
  position: absolute;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #fff;
  right: 50px;
  top: -12px;
  z-index: -1;
}

.slider__photo {
  min-width: 565px;
  text-align: center;
}

.slider__description {
  display: flex;
  flex-direction: column;
  padding: 79px 50px 0 34px;
  position: relative;
}

.slider__description::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  background-color: #fff;
  top: 36px;
  left: 36px;
}

.slider__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  letter-spacing: 1px;
}

.slider__info {
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}

.slider__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

.slider__more {
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #000;
  text-transform: uppercase;  
}

.slider__more:hover {
  cursor: pointer;
}

.slider__more:active {
  color: rgba(0, 0, 0, .3);
}

.slider__more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  left: 0;
  z-index: -1;
  transition: all ease .2s;
}

.slider__more:hover::before {
  height: 100%;
}

.slider__button {  
  position: absolute;
  right: 83px;
  bottom: 255px;
  z-index: 1;
}

.slider__button {
  display: inline-block;
  width: 12px;
  height: 12px;   
  background-image: url(../img/svg/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 17px;
}

.slider__button:hover {
  cursor: pointer;
}

.slider__radio:checked + .slider__button {
  background-image: url(../img/svg/slider-button.svg);
}

.slider__button--watch {
  right: 116px;
}

.slider__button--selfie-stick {
  right: 149px;
}

.slider__radio--selfie-stick:checked ~ .slider__item--selfie-stick {
  display: flex;
}

.slider__radio--watch:checked ~ .slider__item--watch {
  display: flex;
}

.slider__radio--quadcopter:checked ~ .slider__item--quadcopter {
  display: flex;
}

.slider__features {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.slider__feature {
  display: flex;
  flex-direction: column;
}

.slider__feature:not(:last-child) {
  margin-right: 80px;
}

.slider__big-text {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

.slider__small-text {  
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.popular {
  padding-bottom: 59px;
}

.popular__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.popular__item {
  width: 160px;
}

.popular__item:not(:nth-child(6)) {
  margin-right: 40px;
}

.popular__link {
  padding-bottom: 20px;
  display: block;
}

.popular__link:hover .popular__square {
  background-color: #f0c52e;
}

.popular__link:active svg {
  fill-opacity: .3;
}

.popular__link:active .popular__title {
  color: rgba(0, 0, 0, .3);
}

.popular__square {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}

.popular__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  margin: 0;
}

.services {
  position: relative;
  margin-bottom: 163px;
}

.services .wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  padding-top: 79px;
}

.services .wrapper::before {  
  position: absolute;
  content: "";
  width: 7px;
  top: 0;
  bottom: 0;
  background-color: #000;
  left: 278px;
}

.services::before {
  position: absolute;
  content: "";
  background-color: #e5e5e5;
  top: 99px;
  bottom: -69px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

/* .services__buttons {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;  
  width: 284px;
  border-right: 7px solid #000;
  padding: 79px 0px 45px 0;
  position: relative;
} */

.services__button {
  min-width: 160px;
  height: 40px;
  padding: 0;  
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 4px;  
  text-transform: uppercase;  
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.services__button::before {  
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #f0c52e;  
  left: 0;  
  transition: all ease .2s;
  z-index: -1;
}

.services__button:first-of-type {
  position: relative;
}

.services__button--warranty {
  top: 144px;
}

.services__button--credit {
  top: 210px;
}

.services__button:hover::before {
  height: 100%;
}

.services__radio:checked + .services__button {
  color: #f7e184;
  cursor: auto;
}

.services__radio:checked + .services__button::before {
  width: 282px;
  height: 100%;
  background-color: #000;
}

.services__radio:checked + .services__button:hover {
  cursor: default;
}

.services__radio--delivery:checked ~ .services__info--delivery {
  display: flex;
}

.services__radio--warranty:checked ~ .services__info--warranty {
  display: flex;
}

.services__radio--credit:checked ~ .services__info--credit {
  display: flex;
}

.services__info {
  display: none;
  flex-direction: column;
  padding: 20px 117px 77px 241px;
  margin-top: -25px;
}

.services__info--active {
  display: flex;
}

.services__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;  
  letter-spacing: 1px;
}

.services__description {
  margin: 0;
  padding: 0;
  padding-right: 215px;
}

.services__info--delivery {
  background-image: url(../img/svg/delivery.svg);
  background-repeat: no-repeat;
  background-position: 92% 31px;
}

.services__info--warranty {
  background-image: url(../img/svg/warranty.svg);
  background-repeat: no-repeat;
  background-position: 94% 5px;
}

.services__info--credit {
  background-image: url(../img/svg/credit.svg);
  background-repeat: no-repeat;
  background-position: 91% 8px;
}

.clients__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 59px;
}

.clients__item {
  margin-bottom: 25px;
}

.clients__item img {
  filter: grayscale(100%) opacity(.2);
}

.clients__item:hover img {
  filter: grayscale(0) opacity(1);
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 82px;
}

.information__item {
  width: 560px;
  padding-top: 52px;
  position: relative;
}

.information__item::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000;
  left: 0;
  top: 0;
}

.information__title {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;  
  letter-spacing: 1px;
}

.information__description {
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
}

.information__item--about .information__description {  
  padding-right: 85px;
}

.information__item--contacts .information__description {
  margin-bottom: 40px;
  padding-right: 20px;
}

.information__list {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  list-style: none;
}

.information__transport-company {
  padding-left: 35px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  position: relative;
}

.information__transport-company::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background-image: url(../img/svg/slider-button-empty.svg);
  background-size: cover;
  opacity: 0.3;
  left: 0;
  top: 17px;
}

.information__link {
  width: 260px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.5px;
  color: #000;
  text-transform: uppercase;  
}

.information__link:hover {
  cursor: pointer;
}

.information__link:active {
  color: rgba(0, 0, 0, .3);
}

.information__link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  left: 0;
  z-index: -1;
  transition: all ease .2s;
}

.information__link:hover::before {
  height: 100%;
}

.information__map {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
  margin-bottom: 59px;
}

.footer {  
  padding: 63px 0;
  background-color: #464646;
}

.footer .wrapper {
  display: flex;
  flex-direction: column;  
}

.footer svg {
  fill: #ffc600;
}

.footer__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin-top: -10px;
}

.footer__logo:hover svg {
  fill-opacity: .6;
  
}

.footer__logo:active svg {
  fill-opacity: .3;
}

.footer__navigation .navigation__link {
  background: none;
}

.footer__navigation .navigation__link {
  color: rgba(255, 255, 255, .7);
  background: none;
  position: relative;
}

.footer__navigation .navigation__item--cart {
  margin-left: 40px;
}

.footer__navigation .navigation__item--compare {
  margin-left: 39px;
}

.footer__navigation svg {
  position: absolute;  
}

.navigation__item--cart svg {
  left: 2px;
  top: 4px;
}

.navigation__item--compare svg {
  left: 4px;
  top: 6px;
}

.navigation__item--login .navigation__link {
  margin-left: 0;
}

.navigation__item--login svg {
  left: -2px;
  top: 4px;
}

.footer__navigation .navigation__logout {
  position: static;
  color: rgba(255, 255, 255, .3);
  margin-left: 15px;
}

.footer__item--information .navigation {
  margin-left: -34px;
}

.footer__item .navigation__list--line-bottom {
  padding-top: 9px;
}

.footer__navigation .navigation__item--warranty {
  margin-left: 34px;
}

.footer__navigation .navigation__item--contacts {
  margin-left: 34px;
}
.footer__address,
.footer__phone {
  margin: 0;
  padding: 0;
  color: #fff;
}

.footer__item--links {
  padding-top: 60px;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social__link svg {
  fill-opacity: .3;
}

.social__link:hover svg {
  fill-opacity: .6;
}

.social__link:active svg {
  fill-opacity: .1;
}

.social__item--facebook {
  margin-left: 25px;
}

.social__item--instagram {
  margin: 0 23px;
}

.footer__item--links {
  justify-content: flex-end;
  position: relative;
}

.footer__item--links::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  left: 0;
  bottom: 20px;
}

.footer__social {
  margin-left: auto;
}

.footer__htmlacademy {
  margin-left: auto;
}

.footer__htmlacademy:hover {
  fill-opacity: .6;
}

.footer__htmlacademy:active {
  fill-opacity: .3;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 43px; 
  padding: 0;
  padding-left: 60px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;  
}

.breadcrumbs__item {
  margin-right: 39px;
  position: relative;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 7px;
  background-image: url(../img/svg/nav-arrow.svg);
  background-repeat: no-repeat;
  right: -20px;
  top: 13px;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, .3);
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, .6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, .1);
}

.catalog-columns .wrapper {
  display: flex;
  flex-direction: row;
}

.filter {
  min-width: 328px;
  background-color: #efefef;
  padding-bottom: 40px;
  position: relative;
}

.filter::before {
  position: absolute;
  content: "";
  width: 300vw;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #efefef;
  z-index: -1;
}

.filter__title,
.sort__title {
  position: relative;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  margin: 0;
  margin-bottom: 82px;
  padding: 23px 68px 23px 60px;
  background-color: #dbdbdb;
}

.filter__title::before {
  position: absolute;
  content: "";
  width: 300vw;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #dbdbdb;
  z-index: -1;
}

.filter__forms {
  padding: 0 68px 0 60px;
}

.filter__form {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  border: none;
  position: relative;
}

.filter__form:last-of-type {
  margin-bottom: 31px;
}

.filter__form::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: -12px;
  background-color: #000;
}

.filter__form legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  margin-bottom: 18px;
}

.range legend {
  margin-bottom: 35px;
}

.range__controls {
  position: relative;
  margin-bottom: 5px;
}

.range__scale {
  height: 2px;
  background-color: rgba(0, 0, 0, .3);
}

.range__bar {
  width: 60%;
  height: 2px;
  background-color: #91c92f;
}

.range__toggle {
  position: absolute;
  left: -6px;
  top: -9px;
  width: 20px;
  height: 23px;
  background-image: url(../img/svg/filter-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.range__toggle:hover {
  transform: scale(1.2);
}

.range__toggle--max {
  left: 106px;
}

.range__price {
  color: rgba(0, 0, 0, .2);
  position: relative;
}

.range__price input {
  width: 50px;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
}

.range__max-price {
  position: absolute;
  left: 85px;
}

.color__list,
.bluetooth__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.color__option,
.bluetooth__option {
  padding-left: 38px;  
}

.color__option label,
.bluetooth__option label {
  position: relative;
  font-size: 14px;
  line-height: 40px;  
}

.color__checkbox + label::before,
.bluetooth__checkbox + label::before {
  position: absolute;
  content: "";
  top: -3px;
  left: -41px;
  width: 24px;
  height: 24px;
  background-image: url(../img/svg/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.bluetooth__checkbox + label::before {
  width: 26px;
  height: 26px;
  background-image: url(../img/svg/radio-off.svg);
}

.color__checkbox:checked + label::before {  
  width: 28px;
  height: 24px;
  background-image: url(../img/svg/checkbox-on.svg);  
}

.bluetooth__checkbox:checked + label::before {  
  width: 26px;
  height: 26px;
  background-image: url(../img/svg/radio-on.svg);  
}

.color__option:hover label::before,
.bluetooth__option:hover label::before {
  opacity: .6;
}

.color__option:active label::before,
.bluetooth__option:active label::before {
  opacity: 1;
}

.color__checkbox:disabled + label::before,
.bluetooth__checkbox:disabled + label::before {
  opacity: .25;
}

.filter__submit {
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 4px;  
  text-transform: uppercase;  
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.filter__submit::before {  
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #f0c52e;  
  left: 0;  
  transition: all ease .2s;
  z-index: -1;
}

.filter__submit:hover::before {
  height: 100%;
}

.filter__submit:active {
  color: rgba(0, 0, 0, .3);
}

.catalog {
  flex-grow: 1;
}

.sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ebebeb;
  padding: 20px 0px 20px 73px;
  position: relative;
}

.sort::after {
  position: absolute;
  content: "";
  width: 300vw;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ebebeb;
  z-index: -1;
}

.sort__title {
  margin: 0;
  padding: 0;
  background-color: transparent;
  margin-right: 51px;
}

.sort__link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, .3);
  margin-right: 30px;
}

.sort__link:hover {
  color: rgba(0, 0, 0, .6);
}

.sort__link:active {
  color: rgba(0, 0, 0, 1);
}

.sort__link--active {
  color: #000;
}

.sort__types,
.sort__arrows {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sort__arrows {
  margin-left: auto;
}

.sort__arrow svg {
  fill-opacity: .2;
}

.sort__arrow:hover svg {
  fill-opacity: .4
}

.sort__arrow:active svg {
  fill-opacity: 1;
}

.sort__arrow--active svg {
  fill-opacity: 1;
}

.sort__arrow--active:hover svg {
  fill-opacity: 1;
}

.sort__arrow--descending {
  margin-left: 16px;
}

.goods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 0 0 70px;
}

.goods__item {
  width: 360px;
  margin-bottom: 45px;
}

.goods__image {
  width: 360px;
  height: 380px;
  display: flex;
  align-items: center;
  position: relative;
}

.goods__image img {
  width: 100%;
  height: auto;
}

.goods__options {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goods__image:hover img {
  opacity: .3;
}

.goods__image:hover .goods__options {
  display: flex;  
}

.goods__to-cart {
  min-width: 200px;
  height: 40px;
  padding: 0;  
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;  
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 4px;  
  text-transform: uppercase;  
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
  color: #000;
}
.goods__to-cart::before {  
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #f0c52e;  
  left: 0;  
  transition: all ease .2s;
  z-index: -1;
}

.goods__to-cart:hover::before {
  height: 100%;
}

.goods__to-cart:active {
  color: rgba(0, 0, 0, .3);
}

.goods__to-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, .5)
}

.goods__to-compare:hover {
  color: #000;
}

.goods__to-compare:active {
  color: rgba(0, 0, 0, .2);
}

.goods__info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 23px;
}

.goods__title {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}

.goods__price {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000;
  flex-shrink: 0;  
}

.goods__pagination {
  margin-top: -9px;
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ebebeb;
  margin-bottom: 75px;
}

.pagination__button,
.pagination__num {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  margin: 0;
  padding: 24px 29px;
  background-color: transparent;
  border: none;
  outline: none;
}

.pagination__button:hover {
  background-color: #dbdbdb;
}

.pagination__button:active {
  color: rgba(0, 0, 0, .3);
}

.pagination__num {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  color: rgba(0, 0, 0, .3);
}

.pagination__num:hover {
  color: rgba(0, 0, 0, .6);
}

.pagination__num:active {
  color: rgba(0, 0, 0, 1);
}

.pagination__num--active {
  color: #000;
}

.pagination__num:last-child {
  margin-right: 0;
}

.write-us {
  position: fixed;
  width: 960px;
  top: 150px;
  left: 50%;
  margin-left: -480px;
  padding: 90px 100px;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .3);
  z-index: 10;
  animation-name: appearing;  
  animation-duration: 0.6s;  
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.modal-close {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  right: 22px;
  top: 22px;
  opacity: .5;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: .3;
}

.write-us__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.write-us__item--name,
.write-us__item--email {
  width: 360px;
}

.write-us__item--message {
  width: 100%;
}

.write-us label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.write-us input,
.write-us textarea {
  border: none;
  background-color: #f2f2f2;
  padding: 12px 20px;
  outline: none;
  font-family: 'Open Sans', 'Arial', sans-serif;  
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.write-us input::placeholder,
.write-us textarea::placeholder {
  color: rgba(0, 0, 0, .4);
  font-family: 'Open Sans', 'Arial', sans-serif;  
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.write-us__submit {
  min-width: 200px;
  height: 40px;
  padding: 0;  
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;  
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 4px;  
  text-transform: uppercase;  
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 11;
}

.write-us__submit::before {  
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #f0c52e;  
  left: 0;  
  transition: all ease .2s;
  z-index: -1;
}

.write-us__submit:hover::before {  
  height: 100%;
}

.write-us__submit:active {  
  color: rgba(0, 0, 0, .3);
}

.form--error {  
  animation-name: shake;  
  animation-duration: 0.6s;
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes appearing {
  0% {
    -webkit-transform: rotate(180deg) translateY(-1000px);
            transform: rotate(180deg) translateY(-1000px);
  }
  70% {
    -webkit-transform: translateY(-30px) rotate(0deg) ;
            transform: translateY(-30px) rotate(0deg) ;
  }
  90% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px)
  }
}

.map-popup {
  display: none;
  position: fixed;
  width: 960px;
  height: 559px;
  top: 150px;
  left: 50%;
  margin-left: -480px;
  
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .3);
}

.map-iframe {
  width: 960px;
  height: 559px;
  border: none;
}

.modal-active {
  display: flex;
}